body{
    width:860px;
    margin: 0 auto;
    background-color: #ccc;
}

nav{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    height: 30px;
    font-size: 22px;
}
nav a{
    text-decoration: none;
    color: #fff;
}
main{
    text-align: center;
}

#rodape{
    background-color: #000;
    font-size: 12px;
    color: #fff;
    height: 50px;
    text-align: center;
}